[Unit]
Description=Pivovar
Requires=network.target

[Service]
#EnvironmentFile=/etc/sysconfig/pivovar
ExecStart=/home/pi/pivovar-venv/bin/pivovar-update $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
