<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask + Celery Examples</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Pivovar</h1>
      <div class="col-sm-3">
        <h3>Washing machine phases</h3>
        <div class="list-group">
          {% for phase in washing_machine.phases %}
          <a class="list-group-item{{ ' active' if phase == washing_machine.current_phase else '' }}">{{ phase }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-sm-9">
        <h3>Washing machine water temps</h3>
        <div id="temp_plot" />
      </div>
    </div>
  </body>
  <script>
    $.getJSON('{{ real_temps_url }}', function (data) {
        var real_temps = {
            mode: 'lines+markers',
            name: 'skutečná teplota',
            line: {shape: 'spline'},
            type: 'scatter'
        }
            real_temps.x = data['datetime']
            real_temps.y = data['temps']

        var data = [real_temps];

        var layout = {legend: {
            y: 0.5,
            traceorder: 'reversed',
            font: {size: 16},
            yref: 'paper'
        }};

        Plotly.newPlot('temp_plot', data, layout);
    });
  </script>
</html>
