{% extends "base.html" %}
{% block content %}
      <div class="col-sm-3">
        <h3>Keg washing machine.</h3>
        <div class="list-group" id="phases"></div>
      </div>
      <div class="col-sm-9">
        <h3>Washing machine water temps</h3>
        <div id="temp_plot" />
      </div>
    </div>
{% endblock %}
{% block script %}
    function update_temp_log() {
        $.getJSON('{{ temp_log_url }}', function (data) {
            var temp_log = {
                mode: 'lines+markers',
                name: 'skutečná teplota',
                line: {'shape': 'spline'},
                type: 'scatter'
            }
                temp_log.x = data['datetime']
                temp_log.y = data['temps']

            var data = [temp_log];

            var layout = {legend: {
                y: 0.5,
                traceorder: 'reversed',
                font: {size: 16},
                yref: 'paper'
            }};

            Plotly.react('temp_plot', data, layout);
        })
    }

    function create_phase(phases, content, active) {
        var li = document.createElement("a")
        li.classList.add('list-group-item')
        if (active) {
            li.classList.add('active')
        }
        var t = document.createTextNode(content);
        li.appendChild(t)
        phases.appendChild(li)
    }

    function update_phases() {
        $.getJSON('{{ wash_machine_url }}', function (data) {
            wash_machine = data

            phases = document.getElementById("phases");

            while (phases.hasChildNodes()) {
                phases.removeChild(phases.lastChild);
            }

            wash_machine.phases.forEach(function(phase){
                create_phase(phases, phase,
                             phase == wash_machine.current_phase)
            })
        });
    }

    window.setInterval(update_temp_log, 2000)
    window.setInterval(update_phases, 200)
{% endblock %}
